<nav class="mb-16 mt-12">
  <ul class="flex">
    <li class="mr-8 {{if (eq this.activeItem 'groceries') 'isActive'}} text-violet-700 font-bold text-base leading-6" {{action "changeActiveItem" "groceries"}}>Groceries</li>
    <li class="mr-8 {{if (eq this.activeItem 'wine') 'isActive'}}" {{action "changeActiveItem" "wine"}}>Wine</li>
    <li class="mr-8 {{if (eq this.activeItem 'clothes') 'isActive'}}" {{action "changeActiveItem" "clothes"}}>Clothes</li>
    <li class="mr-8 {{if (eq this.activeItem 'fx') 'isActive'}}" {{action "changeActiveItem" "fx"}}>FX</li>
  </ul>
</nav>
